.footer {
  font-family: "Alata", sans-serif;
  background-color: black;
  color: white;

  &__content {
    padding-top: 38px;
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    width: 144px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .social-links {
      align-self: flex-end;
      display: flex;
      gap: 16px;

      .social-link {
        display: block;
        padding: 10px 0;
      }
    }
  }
}