@use "../utils/" as u;

.header {
  position: relative;
  color: white;
  background: url(../assets/images/image-hero-lg.jpg) no-repeat;
  background-size: cover;

  &__content {
    position: relative;
    padding-bottom: 146px;
    z-index: 2;
  }

  &__top {
    padding: 54px 0;
    font-family: 'Alata', sans-serif;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:has(.nav__list.active) {
      .header__logo-link {
        position: relative;
        z-index: 1;
      }
    }

    &__logo-link {
      padding: 10px 0;
      flex-shrink: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;

      &:first-child {
        margin-left: 40px;

        @include u.mobile {
          margin-left: 0;
        }
      }
    }
  
    &__item {
      margin-left: 32px;
    }
  
    &__link {
      position: relative;
      padding: 8px 0;
      color: #edefff;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: white;
        transition: transform .2s;
        transform: scaleX(0);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &__bottom {
  }

  &__title {
    max-width: 650px;
    margin-top: 62px;
    padding: 38px 42px;
    font-size: 72px;
    text-transform: uppercase;
    border: 2px solid white;

    @include u.tablet {
      max-width: 520px;
      font-size: 56px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
  }
}

